@charset "UTF-8";
body{
	margin: 0;
	padding: 0;
}
.container-fluid{
  	background-color:#141414;
	position: relative;
	width:100%;
	height:100vh;
	padding: 0;
	overflow: auto;
}
.header{
	position: relative;
	width: 100%;
	height: 80px;
	background:linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,0,0.5),rgba(0,0,0,0.9));
	position: fixed;
	display: flex;
	top:0;
	color: #e5e5e5;;
	flex-direction: row;
	align-items: center;
}
.title{
	margin-left: 50px;
}
.title>h1{
	color:#e5e5e5;
}
.nav-menu{
	width:400px;
	height: 30px;
	margin-left: 50px;
}
.nav-menu>ul{
	margin: 0;
	padding: 0;
	text-align: center;
}
.nav-menu>ul>li{
	list-style:none;
	display: inline-block;
	text-align: center;
	line-height: 30px;
}
.nav-menu>ul>li:not(:first-child){
	padding-left: 10px;
}
.nav-menu>ul>li>a{
	color: #e5e5e5;
	text-decoration: none;
}

.join-container{
	position:absolute;
	top:90px;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	width: 500px;
	background-color: rgba(0,0,0,0.75);
	border-radius: 10px;
	border:1px solid #e5e5e5;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

/* detail 테이블 */
.join-board{
	width: 100%;
	margin: auto;
	background-color: rgba(0,0,0,0.75);
}
.join-table{
	width:100%;
	box-sizing:border-box;
	border-bottom:1px solid #e5e5e5;
	color: #e5e5e5;
	text-align: center;
	padding: 10px;
}
.joinBtn{
	border: 1px solid #e5e5e5;
	color: #e5e5e5;
	border-radius: 5px;
	text-decoration: none;
	box-sizing: border-box;
	background-color:maroon;
}
.btn-div{
	margin-top:3px;
	margin:auto;
	margin-bottom:3px;
}
input{
	text-align:center;
	color: #e5e5e5;
	background-color: rgba(0,0,0,0.75);
	text-decoration: none;
	margin-right: 10px;
	border-radius: 5px;
}